@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-glaswerk-white font-light;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-normal;
  }

  h1 {
    @apply font-light;
  }
}

@layer utilities {
  .smooth-scroll {
    scroll-behavior: smooth;
  }
}
